In [1]:
import pandas as pd
df = pd.read_csv('JC-202210-citibike-tripdata.csv')

In [2]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,705B9BE3434233E7,classic_bike,2022-10-27 11:20:23,2022-10-27 11:55:47,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
1,660EE8D1E1D21D0F,classic_bike,2022-10-23 22:56:06,2022-10-23 23:09:03,Grove St PATH,JC005,McGinley Square,JC055,40.719586,-74.043117,40.725340,-74.067622,member
2,81CCDC472990FD62,electric_bike,2022-10-30 17:47:15,2022-10-30 17:49:42,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
3,155ABDCC56D1E9D3,classic_bike,2022-10-11 17:28:53,2022-10-11 17:31:39,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
4,47DB1136D49EDA96,classic_bike,2022-10-16 22:22:34,2022-10-16 22:27:18,Marshall St & 2 St,HB408,9 St HBLR - Jackson St & 8 St,HB305,40.740802,-74.042521,40.747907,-74.038412,member

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89558 entries, 0 to 89557
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             89558 non-null  object
 1   rideable_type       89558 non-null  object
 2   started_at          89558 non-null  object
 3   ended_at            89558 non-null  object
 4   start_station_name  89558 non-null  object
 5   start_station_id    89558 non-null  object
 6   end_station_name    89202 non-null  object
 7   end_station_id      89202 non-null  object
 8   start_lat           89558 non-null  float64
 9   start_lng           89558 non-null  float64
 10  end_lat             89413 non-null  float64
 11  end_lng             89413 non-null  float64
 12  member_casual       89558 non-null  object
dtypes: float64(4), object(9)
memory usage: 8.9+ MB

In [4]:
df.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      356
end_station_id        356
start_lat               0
start_lng               0
end_lat               145
end_lng               145
member_casual           0
dtype: int64

In [5]:
# Convert 'started_at' and 'ended_at' to datetime if not already in that format
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

# Extract only the date part
df['started_at'] = df['started_at'].dt.date
df['ended_at'] = df['ended_at'].dt.date

# Display the updated dataframe
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,705B9BE3434233E7,classic_bike,2022-10-27,2022-10-27,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
1,660EE8D1E1D21D0F,classic_bike,2022-10-23,2022-10-23,Grove St PATH,JC005,McGinley Square,JC055,40.719586,-74.043117,40.725340,-74.067622,member
2,81CCDC472990FD62,electric_bike,2022-10-30,2022-10-30,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
3,155ABDCC56D1E9D3,classic_bike,2022-10-11,2022-10-11,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member
4,47DB1136D49EDA96,classic_bike,2022-10-16,2022-10-16,Marshall St & 2 St,HB408,9 St HBLR - Jackson St & 8 St,HB305,40.740802,-74.042521,40.747907,-74.038412,member

In [6]:
df.to_csv('_202210-citibike-tripdata_cleaned_data.csv', index=False)